.section {
  padding: 6rem 2.5rem;
  background-color: var(--clr-light-gray);
}

.header {
  max-width: 65rem;
  margin: auto;
  padding-bottom: var(--text-gap);
  text-align: center;
}

.header h3 {
  font-size: 3.5rem;
  font-weight: var(--weight-medium);
  color: var(--dark-blue);
  padding: var(--text-gap) 0;
}

.header p {
  color: var(--clr-gray-blue);
  font-size: 1.8rem;
  font-weight: var(--weight-light);
}

.WhyUs {
  display: flex;
  flex-direction: column;
  gap: var(--text-gap);
  text-align: center;
}

.WhyUs div:not(:last-child) {
  padding-bottom: var(--text-gap);
}

.WhyUs div img {
  padding: var(--text-gap) 0;
  margin: 0 auto;
}

.WhyUs div h2 {
  font-size: 2.5rem;
  font-weight: var(--weight-medium);
  color: var(--dark-blue);
  padding: var(--text-gap) 0;
}

.WhyUs div p {
  color: var(--clr-gray-blue);
  font-size: 1.8rem;
  font-weight: var(--weight-light);
}

/* @media */

@media screen and (min-width: 600px) {
  .header {
    padding-bottom: 4rem;
    text-align: start;
    margin: 0;
  }

  .WhyUs {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 4rem;
    text-align: start;
  }

  .WhyUs div img {
    margin: 0 0 0 0;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    padding: 4rem 0;
    margin: 0 0 0 0;
    text-align: start;
  }
  .WhyUs {
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: start;
    gap: 4rem;
  }

  .WhyUs div img {
    margin: 0 0 0 0;
  }
}
