.article {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.article img {
  max-height: 17.5rem;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.article div {
  padding: 2rem 1.5rem;
}

.article div .author {
  font-size: 0.9rem;
  font-weight: var(--weight-medium);
  color: var(--clr-gray-blue);
}

.article div .title {
  font-size: 1.8rem;
  font-weight: var(--weight-medium);
  color: var(--dark-blue);
  padding: 1rem 0;
}

.article div .text {
  color: var(--clr-gray-blue);
  font-size: 1.2rem;
  font-weight: var(--weight-light);
}

@media screen and (min-width: 480px) {
  /* endre FLEX (1 per rad" til GRID (2 per rad) */
}

@media screen and (min-width: 768px) {
}
