.article {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  cursor: pointer;
}

.article img {
  aspect-ratio: 16 / 9;
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.article .text {
  padding: 2rem 1rem;
}

.article div .author {
  font-size: 0.9rem;
  font-weight: var(--weight-medium);
  color: var(--clr-gray-blue);
}

.article div .title {
  font-size: 1.8rem;
  font-weight: var(--weight-medium);
  color: var(--dark-blue);
  padding: 1rem 0;
}

.article div .story {
  color: var(--clr-gray-blue);
  font-size: 1.2rem;
  font-weight: var(--weight-light);
}

@media screen and (min-width: 800px) {
  .article:hover .title {
    color: var(--lime-green);
  }
}
