.menu {
  display: flex;
  gap: 0.75rem;
}

.menu__item {
  font-size: 1.6rem;
  color: var(--clr-gray-blue);
}

@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    gap: 1.5rem;
  }

  .menu__item:hover {
    color: orange;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    gap: 3rem;
  }
}
