.dropdown {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
}

.dropdown > div {
  margin: 5.5rem 4.5rem;
  background-color: var(--clr-white);
  border-radius: var(--border-radius);
}

.dropdown div ul {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  text-align: center;
  outline-style: none;
  border-radius: var(--border-radius);
  border: 0.1rem solid black;
}

.dropdown div ul span:not(:last-child) {
  padding-bottom: 2rem;
}

@media screen and (min-width: 601px) {
  .menu {
    display: none;
  }

  .dropdown {
    display: none;
  }
}
