.dropdown {
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0));
  transform: translateY(1.25rem);
}

.dropdown > div {
  margin: 2rem 4.5rem;
  background-color: var(--clr-white);
  border-radius: var(--border-radius);
  transition: all 0.5s ease-in-out;
}

.dropdown div ul {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  text-align: center;
  outline-style: none;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.dropdown div ul li:not(:last-child) {
  padding-bottom: 2rem;
}

.dropdown div ul li a {
  color: var(--dark-blue);
}

@media screen and (min-width: 480px) {
  .menu {
    display: none;
  }

  .dropdown {
    display: none;
  }
}
