.intro .div01 {
  background-image: url("../../../assets/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro img {
  width: 100%;
  transform: translateY(-7rem);
  margin-bottom: -7rem;
}

.intro .div02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--text-gap);
  padding: 4rem 2.5rem 6rem 2.5rem;
  text-align: center;
}

.intro .div02 h1 {
  color: var(--dark-blue);
  font-size: 3.5rem;
  font-weight: var(--weight-medium);
}
.intro .div02 p {
  color: var(--clr-gray-blue);
  font-size: 1.6rem;
  font-weight: var(--weight-light);
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 850px) {
  .intro {
    margin-bottom: -12.5rem;
  }

  .intro > div {
    display: flex;
    flex-direction: row-reverse;
  }

  .intro .div01 {
    background-image: url("../../../assets/images/bg-intro-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom 10rem;
    overflow: hidden;
  }

  .intro .div01 img {
    transform: translateX(10rem);
    margin-right: -10rem;
    margin-bottom: 0;
  }

  .intro .div02 {
    width: 65%;
    align-items: flex-start;
    text-align: left;
  }
}
