.logo path {
  /* img {filter: ... } */
  /* https://github.com/iprinceroyy/easybank-v2/blob/master/scss/_footer.scss */
}

.footer {
  background-color: var(--dark-blue);
}

.footer .div01 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .div01 div {
  display: flex;
}

.footer .div02 {
  text-align: center;
}

.footer .div02 div {
  display: flex;
  flex-direction: column;
}

a {
  display: inline-block;
}
