.articles {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem 2.5rem;
}

.articles > h3 {
  color: var(--dark-blue);
  font-size: 3.5rem;
  font-weight: var(--weight-medium);
  text-align: center;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
}
