.NavBar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.75rem 2.5rem;

  background-color: var(--clr-white);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.NavBar .NavBar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBar .NavBar__content a {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .NavBar .ButtonInvite {
    display: none;
  }
}
