.NavBar {
  /* z-index: 100; */
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3rem;

  display: flex;
  justify-content: space-between;

  align-items: center;
  background-color: var(--clr-white);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

@media screen and (max-width: 768px) {
  .NavBar .ButtonInvite {
    display: none;
  }
}
