.footer {
  padding: 2.5rem 2.5rem;
  background-color: var(--dark-blue);
}

.footer .div01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.footer .div01 .logo path {
  /* thank you random guy at frontendmentor */
  filter: contrast(1) invert(1) hue-rotate(190deg) brightness(2);
}

.footer .div01 div {
  display: flex;
  gap: 1.5rem;
}

.footer .div01 div img {
  height: 100%;
  width: 100%;
}

.footer .div01 div img:hover {
  transform: scale(0.95);
  filter: brightness(0) saturate(100%) invert(68%) sepia(89%) saturate(415%) hue-rotate(76deg)
    brightness(87%) contrast(90%);
}

.footer .div02 {
  padding: 2.5rem 0;
}

.footer .div02 div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.footer .div02 div:first-child {
  padding-bottom: 1.5rem;
}

.footer .div02 a {
  color: var(--clr-light-gray-blue);
  font-size: 1.2rem;
  font-weight: var(--weight-light);
  font-family: inherit;
}

.footer .div02 a:hover {
  color: var(--lime-green);
}

.footer .div03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.footer .div03 h6 {
  color: var(--clr-gray-blue);
  font-weight: var(--weight-light);
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  .footer {
    padding: 4rem 2.5rem;
  }

  .footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer div .wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 12.5rem;
  }

  .footer div .div01 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer div .div02 {
    display: flex;
    gap: 6.5rem;
    padding: 0;
  }

  .footer div .div02 div {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .footer div .div02 diiv a {
    display: block;
  }

  .footer .div02 div:first-child {
    padding-bottom: 0;
  }

  .footer div .div03 {
    justify-content: center;
    align-items: flex-end;
  }
}
