:root {
  --window-max-width: 1200px;

  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(0, 0%, 98%);
  --clr-light-gray-blue: hsl(220, 16%, 96%);
  --clr-gray-blue: hsl(233, 8%, 62%);

  --weight-light: 300;
  --weight-medium: 400;
  --weight-bold: 700;

  --text-gap: 1.5rem;

  --border-radius: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
}

/* globale classes */

.max-width__container {
  max-width: var(--window-max-width);
  margin: auto;
}

/* elementer */

img {
  display: block;
}

button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}
