:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(0, 0%, 98%);
  --clr-light-gray-blue: hsl(220, 16%, 96%);
  --clr-gray-blue: hsl(233, 8%, 62%);

  --weight-light: 300;
  --weight-medium: 400;
  --weight-bold: 700;

  --border-radius: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.8rem;
}

img {
  display: block;
}

button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  border: none;
}

li {
  list-style: none;
}
